name: Glacis Pull Request
run-name: ${{ github.actor }} Glacis Pull Request
on: [pull_request]
jobs:
  Glacis-tests:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        node-version: [16.x]
    steps:
      - run: echo "The job was automatically triggered by a ${{ github.event_name }} event."
      - run: echo "This job is now running on a ${{ runner.os }} server hosted by GitHub"
      - run: echo "The name of the branch is ${{ github.ref }} and the repository is ${{ github.repository }}."

      - name: Check out repository code
        uses: actions/checkout@v4
      - run: echo "The ${{ github.repository }} repository has been cloned to the runner."

      - run: npm install
      - run: echo "The npm is now ready to test your code on the runner."

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1

      - name: Run forge tests
        run: npm run test:forge:debug

      - name: Run snapshot
        run: forge snapshot

      - run: echo " This job's status is ${{ job.status }}."
