name: Glacis Pull Request
run-name: ${{ github.actor }} Glacis Pull Request
on: [pull_request]
jobs:
  glacis-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-node@v4
        with:
          node-version: '18'

      - run: echo "The job was automatically triggered by a ${{ github.event_name }} event."
      - run: echo "This job is now running on a ${{ runner.os }} server hosted by GitHub"
      - run: echo "The name of the branch is ${{ github.ref }} and the repository is ${{ github.repository }}."

      - name: Check out repository code
        uses: actions/checkout@v4
      - run: echo "The ${{ github.repository }} repository has been cloned to the runner."

      - run: apt update
      - run: apt-get install -y lcov

      - run: npm install
      - run: echo "The npm is now ready to test your code on the runner."

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1

      - name: Generate coverage report
        run: forge coverage --report lcov
        
      - name: Check for requested coverage
        run: scripts/check-coverage.sh ${{vars.LINE_COVERAGE}} ${{vars.FUNCTION_COVERAGE}} ${{vars.BRANCH_COVERAGE}}

      - run: echo "This job's status is ${{ job.status }}."
